.product-grid{
    background: #f6f6f6;
    padding: 60px 0;
}

/* Product design Start */
.product{
    padding: 15px;
    border-radius: 5px;
}
p.category {
    margin: 0;
}
.product img {
    height: 155px;
    object-fit: cover;
    display: block;
    margin: auto;
}
/* Product design End */

/* Product Quick View  */
.img-gallery img{
    width: 15%;
    margin-top: 2%;
    margin-right: 1%;
    cursor: pointer;
}
.product-thumbnail img {
    height: 265px;
    object-fit: cover;
}